/*normalización*/
*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    margin-bottom: 2px;
    border: 2px solid #ccc;
    background-color: #aabf5e;
    border-radius: 2px;
}

main{
    margin-top: 2px;
}