/*=========================Normalización=================================*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/*============================Body====================================*/
body {
  background-color: #fffbac;
}

h1 {
  font-size: 6rem;
  font-family: "Courier New", Courier, monospace;
  color: #c27a0e;
}

h2 {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  color: #fffbac;
  text-align: center;
}

h3 {
  font-size: 4rem;
  text-align: left;
}

p {
  margin-top: 0.5rem;
  font-size: 2rem;
  text-indent: 3rem;
}
/*============================Header====================================*/
header {
  max-height: 35vh;
  min-width: 100vh;
  background-image: url(../img/design1_image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.name {
  margin-bottom: 15rem;
}

.title {
  padding: 1rem;
  position: relative;
  background-color: black;
  opacity: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: 15rem;
  top: -4rem;
}
/*============================Container=nav+main====================================*/
.container {
  min-height: 64vh;
  display: flex;
  gap: 1.5rem;
}

main {
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

section {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
nav {
  min-height: 100%;
  width: 25%;
  display: inline-block;
}

nav a {
  width: 20vw;
  margin: 1rem;
  color: rgb(178, 205, 178);
  font-size: 2rem;
  border: 2px solid #ccc;
  display: block;
  text-align: center;
  padding: 1.5rem;
  border-radius: 20px;
}

a:hover {
  background-color: #d7e9b9;
  color: black;
  border-color: #ffd495;
  text-decoration: none;
}

.active {
  background-color: #d7e9b9;
  color: black;
  border-color: #ffd495;
  text-decoration: none;
}
/*============================Tablas & listas====================================*/
table,
th,
td {
  padding: 1rem;
  text-align: left;
  font-size: 2rem;
}

.date {
  text-align: center;
}

dl,
dd {
  padding: 0.5rem;
}

dt {
  font-size: 3rem;
}

ol {
  padding: 1rem;
  font-size: 2rem;
  list-style-position: inside;
}

li ol {
  list-style-type: lower-alpha;
}
